<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Academy courses</title>
  </head>
  <body>
    <h1>Check out our courses ✅</h1>
    <ul>
      <% courses.forEach(course => { %>
      <li><%= course.name %></li>
      <% }) %>
    </ul>
  </body>
</html>
